body {
  font-family: 'Times New Roman';
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
  text-align: center;
}
header {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  background: #6e9dcf;
  width: 100%;
  top: 0;
  /* z-index: 1000; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 10px;
  color: #000000;

}
.logo::first-letter{
  font-size: 70px;
}
nav ul {
  list-style: none;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  margin-left: 160%;
  font-size: 15px;
  font-weight: 400;
 
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  transition: color 0.3s;
}

nav ul li a:hover, .active {
  color: #007bff;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  background-color: #000000;
  color: white;
}

.hero-text {
  text-align: left;
}

.hero-text h1 {
  font-size: 3em;
  margin: 0;
}

.highlight {
  color: #007bff;
}
.hero-image img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  animation: float 3s infinite ease-in-out;
}
.network{
  position: absolute;
  left: 11%;
  top: 93%;
}
.network a i{
  margin: 10px;
  font-size: 20px;
  color: #fdfdfd;
  border: 2px solid red;
  border-style: none;
  padding: 10px;
  border-radius: 50%;
  background-color: #007bff;
}

#about h2{
  font-size: 40px;
  font-weight: 500;
}
#about p{
  border: 2px solid black;
  height: 40%;
  width: 50%;
  font-size: 20px ;
  font-style: italic;
  font-weight: bold;
  font-family: cursive;
  margin-left: 20px;
  border-style: none;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 1.2em;
  color: white;
  background: #007bff;
  border-radius: 5px;
  text-decoration: none;
}

.btn:hover {
  background: #0056b3;
}
#skills{
  color: #ddd;
  background-color: #000000;
  min-height: 500px;
  margin-top: 3%;

}
#skills h2{
  font-size: 40px;
  font-weight: 500;
  font-family: 'Times New Roman';
  position: relative;
  top: 30px;

}
.skills-container {
  display: flex;
  position:absolute;
  top: 220%;
  margin-left: 15%;
      
}

.skill {
  background: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  width: 120px;
  margin: 20px;  
  color: white;
}
.skill img {
  width: 60px;
  height: 60px;
}
.skill:hover {
  transform: scale(1.1);
  background: rgba(100, 120, 194, 0.3);
}
#projects h2{
  font-size: 40px;
  font-weight: 500;
}
.project{
  border: 2px solid black;
  height: 30%;
  width: 50%;
  padding: 30px;
  border-style: none;
  margin-left: 20px;
  background-color: #92c0f1cc;
  border-radius: 30px;
  transition: all 1s;
}
.project:hover{
  transform: scale(1) translateY(-30px);
}
.project p{
  font-size: 20px;
  font-weight: bold;
  /* font-style: italic;*/
}
.project h3{
  font-size: 20px;
  font-family: 'Times New Roman';
}
.project2{
  border: 2px solid black;
  height: 30%;
  width: 50%;
  padding: 30px;
  border-style: none;
  margin-left: 45%;
  background-color: #92c0f1cc;
  border-radius: 30px;
  margin-top: 30px;
  transition: all 1s;
}
.project2 h3{
  font-size: 20px;
  font-family: 'Times New Roman';
}
.project2 p{
  font-size: 20px;
  font-weight: bold;
  /* font-style: italic; */
}
.project2:hover{
  transform: scale(1) translateY(-30px);
}
#contact{
  background-color: #000000;
  color: #ddd;
  min-height: 120px;
  
}
/* #contact h2{
  position: absolute;
  top: 405%;
  left: 50%;

} */

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 2s;
}

@keyframes slideIn {
  from { transform: translateY(50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.slide-in {
  animation: slideIn 1.5s ease-out;
}

@keyframes fillBar {
  from { width: 0%; }
  to { width: inherit; }
}